.App {
  text-align: center;
  width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  background-color: #404040;
  padding: 0;
  color: white;
}

img {
  max-width: 100vw;
  max-height: 90vh;
}

#img-div {
  position: relative;
  display: inline-block;
}

button img {
  height: 60px;
}

.main {
  display: flex;
  justify-content: space-around;
}

.leaderboard-inactive {
  display: none;
  flex-basis: 20%;
}

.leaderboard-active {
  flex-basis: 20%;
}
